.main {
  height: 900px;
}

.main > div {
  margin: 5% 10%;
}

h1 {
  margin: auto;
}

 .formBlock > form {
  max-width: 625px;
  margin: 0 auto;
  margin-top: 50px;
}

.login-label {
  width: 150px;
}

.login-formCell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.submitBtn {
  margin-top: 20px;
}

.loggedInBlock {
  margin-top: 2% !important;
}