h1 {
  max-width:max-content;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.main , .logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  min-height: 60px;
}
.logo {
  max-width: 150px;
  font-size: 21px;
}

.header-btn {
  margin: auto 0;
}


.main {
  height: 420px;
}

.blogs {
  max-height: 900px;
  overflow: hidden;
}

.blogs > div {
  text-align: justify;
  padding: 0 7%;
  margin: 0 8%;
  overflow: auto;
  height: 893px;
}

.BlogsBorder {
  margin: 0 auto;
  padding: 20px 20px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.BlogsBorder:hover {
  background-color: #D6DBB2
  
}

.main > div {
  min-height: 200px;
}

.footer , .header {
  display: flex;
  justify-content: space-between;
}

